# Apple Health Extractor

This code will parse your Apple Health export data, create multiple CSV and do some simple data checks and data analysis.

--------

## Extract Data and Export to CSVs from Apple Health's Export.xml

* Command Line Tool to Process apple health's export.xml file 
* Create multiple CSV files for each data type. 
* Original Source: https://github.com/tdda/applehealthdata
* Based on the size of your Apple Health Data, this script may take several minutes to complete.

**NOTE: Currently there are a few minror errors based on additional data from Apple Health that require some updates.**

## Setup and Usage NOTE

* Export your data from Apple Health App on your phone. 
* Unzip export.zip into this directory and rename to data. 
* Inside your directory there should be a directory and file here: /data/export.xml
* Run inside project or in the command line.

In [3]:
# %run -i 'apple-health-data-parser' 'export.xml' 
%run -i "apple-health-data-parser" "data/export.xml"

Reading data from data/export.xml . . . done
Unexpected node of type ExportDate.

Tags:
ActivitySummary: 553
ExportDate: 1
Me: 1
Record: 989147
Workout: 1358

Fields:
HKCharacteristicTypeIdentifierBiologicalSex: 1
HKCharacteristicTypeIdentifierBloodType: 1
HKCharacteristicTypeIdentifierCardioFitnessMedicationsUse: 1
HKCharacteristicTypeIdentifierDateOfBirth: 1
HKCharacteristicTypeIdentifierFitzpatrickSkinType: 1
activeEnergyBurned: 553
activeEnergyBurnedGoal: 553
activeEnergyBurnedUnit: 553
appleExerciseTime: 553
appleExerciseTimeGoal: 553
appleMoveTime: 553
appleMoveTimeGoal: 553
appleStandHours: 553
appleStandHoursGoal: 553
creationDate: 990505
dateComponents: 553
device: 967905
duration: 1358
durationUnit: 1358
endDate: 990505
sourceName: 990505
sourceVersion: 980027
startDate: 990505
totalDistance: 1358
totalDistanceUnit: 1358
totalEnergyBurned: 1358
totalEnergyBurnedUnit: 1358
type: 989147
unit: 982920
value: 989119
workoutActivityType: 1358

Record types:
ActiveEnergyBurned: 382415
AppleExerciseTime: 28822
AppleStandHour: 6040
AppleStandTime: 21580
AudioExposureEvent: 76
BasalEnergyBurned: 258981
BodyMass: 1
DistanceWalkingRunning: 50523
EnvironmentalAudioExposure: 14450
FlightsClimbed: 2370
HKDataTypeSleepDurationGoal: 1
HeadphoneAudioExposure: 2336
HeartRate: 171534
HeartRateVariabilitySDNN: 1163
Height: 1
HighHeartRateEvent: 1
MindfulSession: 28
RestingHeartRate: 436
SixMinuteWalkTestDistance: 4
SleepAnalysis: 82
StepCount: 41097
VO2Max: 35
WalkingAsymmetryPercentage: 1028
WalkingDoubleSupportPercentage: 1532
WalkingHeartRateAverage: 438
WalkingSpeed: 2085
WalkingStepLength: 2088

Opening C:\Users\sesha\Downloads\qs_ledger-master\qs_ledger-master\apple_health\data\Height.csv for writing
Opening C:\Users\sesha\Downloads\qs_ledger-master\qs_ledger-master\apple_health\data\BodyMass.csv for writing
Opening C:\Users\sesha\Downloads\qs_ledger-master\qs_ledger-master\apple_health\data\HeartRate.csv for writing
Opening C:\Users\sesha\Downloads\qs_ledger-master\qs_ledger-master\apple_health\data\StepCount.csv for writing
Opening C:\Users\sesha\Downloads\qs_ledger-master\qs_ledger-master\apple_health\data\DistanceWalkingRunning.csv for writing
Opening C:\Users\sesha\Downloads\qs_ledger-master\qs_ledger-master\apple_health\data\BasalEnergyBurned.csv for writing
Opening C:\Users\sesha\Downloads\qs_ledger-master\qs_ledger-master\apple_health\data\ActiveEnergyBurned.csv for writing
Opening C:\Users\sesha\Downloads\qs_ledger-master\qs_ledger-master\apple_health\data\FlightsClimbed.csv for writing
Opening C:\Users\sesha\Downloads\qs_ledger-master\qs_ledger-master\apple_health\data\AppleExerciseTime.csv for writing
Opening C:\Users\sesha\Downloads\qs_ledger-master\qs_ledger-master\apple_health\data\RestingHeartRate.csv for writing
Opening C:\Users\sesha\Downloads\qs_ledger-master\qs_ledger-master\apple_health\data\VO2Max.csv for writing
Opening C:\Users\sesha\Downloads\qs_ledger-master\qs_ledger-master\apple_health\data\WalkingHeartRateAverage.csv for writing
Opening C:\Users\sesha\Downloads\qs_ledger-master\qs_ledger-master\apple_health\data\EnvironmentalAudioExposure.csv for writing
Opening C:\Users\sesha\Downloads\qs_ledger-master\qs_ledger-master\apple_health\data\HeadphoneAudioExposure.csv for writing
Opening C:\Users\sesha\Downloads\qs_ledger-master\qs_ledger-master\apple_health\data\WalkingDoubleSupportPercentage.csv for writing
Opening C:\Users\sesha\Downloads\qs_ledger-master\qs_ledger-master\apple_health\data\SixMinuteWalkTestDistance.csv for writing
Opening C:\Users\sesha\Downloads\qs_ledger-master\qs_ledger-master\apple_health\data\AppleStandTime.csv for writing
Opening C:\Users\sesha\Downloads\qs_ledger-master\qs_ledger-master\apple_health\data\WalkingSpeed.csv for writing
Opening C:\Users\sesha\Downloads\qs_ledger-master\qs_ledger-master\apple_health\data\WalkingStepLength.csv for writing
Opening C:\Users\sesha\Downloads\qs_ledger-master\qs_ledger-master\apple_health\data\WalkingAsymmetryPercentage.csv for writing
Opening C:\Users\sesha\Downloads\qs_ledger-master\qs_ledger-master\apple_health\data\HKDataTypeSleepDurationGoal.csv for writing
Opening C:\Users\sesha\Downloads\qs_ledger-master\qs_ledger-master\apple_health\data\SleepAnalysis.csv for writing
Opening C:\Users\sesha\Downloads\qs_ledger-master\qs_ledger-master\apple_health\data\AppleStandHour.csv for writing
Opening C:\Users\sesha\Downloads\qs_ledger-master\qs_ledger-master\apple_health\data\MindfulSession.csv for writing
Opening C:\Users\sesha\Downloads\qs_ledger-master\qs_ledger-master\apple_health\data\HighHeartRateEvent.csv for writing
Opening C:\Users\sesha\Downloads\qs_ledger-master\qs_ledger-master\apple_health\data\AudioExposureEvent.csv for writing
Opening C:\Users\sesha\Downloads\qs_ledger-master\qs_ledger-master\apple_health\data\HeartRateVariabilitySDNN.csv for writing
Opening C:\Users\sesha\Downloads\qs_ledger-master\qs_ledger-master\apple_health\data\Workout.csv for writing
Opening C:\Users\sesha\Downloads\qs_ledger-master\qs_ledger-master\apple_health\data\ActivitySummary.csv for writing
Written Height data.
Written BodyMass data.
Written HeartRate data.
Written StepCount data.
Written DistanceWalkingRunning data.
Written BasalEnergyBurned data.
Written ActiveEnergyBurned data.
Written FlightsClimbed data.
Written AppleExerciseTime data.
Written RestingHeartRate data.
Written VO2Max data.
Written WalkingHeartRateAverage data.
Written EnvironmentalAudioExposure data.
Written HeadphoneAudioExposure data.
Written WalkingDoubleSupportPercentage data.
Written SixMinuteWalkTestDistance data.
Written AppleStandTime data.
Written WalkingSpeed data.
Written WalkingStepLength data.
Written WalkingAsymmetryPercentage data.
Written HKDataTypeSleepDurationGoal data.
Written SleepAnalysis data.
Written AppleStandHour data.
Written MindfulSession data.
Written HighHeartRateEvent data.
Written AudioExposureEvent data.
Written HeartRateVariabilitySDNN data.
Written Workout data.
Written ActivitySummary data.

-----

# Apple Health Data Check and Simple Data Analysis

In [5]:
import numpy as np
import pandas as pd
import glob

----

# Weight

In [6]:
weight = pd.read_csv("data/BodyMass.csv")

In [7]:
weight.tail()

,sourceName,sourceVersion,device,type,unit,creationDate,startDate,endDate,value
0,Health,13.1.3,NaN,BodyMass,kg,2019-10-19 02:50:14 +0530,2019-10-19 02:50:14 +0530,2019-10-19 02:50:14 +0530,75

In [8]:
weight.describe()

       device  value
count     0.0    1.0
mean      NaN   75.0
std       NaN    NaN
min       NaN   75.0
25%       NaN   75.0
50%       NaN   75.0
75%       NaN   75.0
max       NaN   75.0

----

## Steps

In [9]:
steps = pd.read_csv("data/StepCount.csv")

In [10]:
len(steps)

41097

In [11]:
steps.columns

Index(['sourceName', 'sourceVersion', 'device', 'type', 'unit', 'creationDate',
       'startDate', 'endDate', 'value'],
      dtype='object')

In [12]:
steps.describe()

              value
count  41097.000000
mean      78.535441
std      147.717801
min        1.000000
25%       12.000000
50%       27.000000
75%       74.000000
max     1219.000000

In [13]:
steps.tail()

,sourceName,sourceVersion,device,type,unit,creationDate,startDate,endDate,value
41092,Seshathiri’s Apple Watch,7.4.1,"<<HKDevice: 0x283877bb0>, name:Apple Watch, ma...",StepCount,count,2021-05-23 20:06:53 +0530,2021-05-23 20:02:59 +0530,2021-05-23 20:03:57 +0530,106
41093,Seshathiri’s Apple Watch,7.4.1,"<<HKDevice: 0x283877bb0>, name:Apple Watch, ma...",StepCount,count,2021-05-23 20:06:53 +0530,2021-05-23 20:06:35 +0530,2021-05-23 20:06:51 +0530,33
41094,Seshathiri’s Apple Watch,7.4.1,"<<HKDevice: 0x283877bb0>, name:Apple Watch, ma...",StepCount,count,2021-05-23 20:16:58 +0530,2021-05-23 20:06:51 +0530,2021-05-23 20:16:25 +0530,185
41095,Seshathiri’s Apple Watch,7.4.1,"<<HKDevice: 0x283877bb0>, name:Apple Watch, ma...",StepCount,count,2021-05-23 20:32:37 +0530,2021-05-23 20:17:00 +0530,2021-05-23 20:25:58 +0530,108
41096,Seshathiri’s Apple Watch,7.4.1,"<<HKDevice: 0x283877bb0>, name:Apple Watch, ma...",StepCount,count,2021-05-23 20:47:01 +0530,2021-05-23 20:27:33 +0530,2021-05-23 20:36:56 +0530,75

In [14]:
# total all-time steps
steps.value.sum()

3227571

-------

## Stand Count

In [15]:
stand = pd.read_csv("data/AppleStandHour.csv")

In [16]:
len(stand)

6040

In [17]:
stand.columns

Index(['sourceName', 'sourceVersion', 'device', 'type', 'unit', 'creationDate',
       'startDate', 'endDate', 'value'],
      dtype='object')

In [18]:
stand.describe()

       unit
count   0.0
mean    NaN
std     NaN
min     NaN
25%     NaN
50%     NaN
75%     NaN
max     NaN

In [19]:
stand.tail()

,sourceName,sourceVersion,device,type,unit,creationDate,startDate,endDate,value
6035,Seshathiri’s Apple Watch,7.4.1,"<<HKDevice: 0x283898d70>, name:Apple Watch, ma...",AppleStandHour,NaN,2021-05-23 16:41:01 +0530,2021-05-23 16:00:00 +0530,2021-05-23 17:00:00 +0530,HKCategoryValueAppleStandHourStood
6036,Seshathiri’s Apple Watch,7.4.1,"<<HKDevice: 0x283898d70>, name:Apple Watch, ma...",AppleStandHour,NaN,2021-05-23 17:12:26 +0530,2021-05-23 17:00:00 +0530,2021-05-23 18:00:00 +0530,HKCategoryValueAppleStandHourStood
6037,Seshathiri’s Apple Watch,7.4.1,"<<HKDevice: 0x283898d70>, name:Apple Watch, ma...",AppleStandHour,NaN,2021-05-23 18:01:37 +0530,2021-05-23 18:00:00 +0530,2021-05-23 19:00:00 +0530,HKCategoryValueAppleStandHourStood
6038,Seshathiri’s Apple Watch,7.4.1,"<<HKDevice: 0x283898d70>, name:Apple Watch, ma...",AppleStandHour,NaN,2021-05-23 19:07:36 +0530,2021-05-23 19:00:00 +0530,2021-05-23 20:00:00 +0530,HKCategoryValueAppleStandHourStood
6039,Seshathiri’s Apple Watch,7.4.1,"<<HKDevice: 0x283898d70>, name:Apple Watch, ma...",AppleStandHour,NaN,2021-05-23 20:02:54 +0530,2021-05-23 20:00:00 +0530,2021-05-23 21:00:00 +0530,HKCategoryValueAppleStandHourStood

------

## Resting Heart Rate (HR)

In [20]:
restingHR = pd.read_csv("data/RestingHeartRate.csv")

In [21]:
len(restingHR)

436

In [22]:
restingHR.describe()

       device       value
count     0.0  436.000000
mean      NaN   72.307339
std       NaN    8.711838
min       NaN   55.000000
25%       NaN   66.000000
50%       NaN   72.000000
75%       NaN   78.000000
max       NaN  100.000000

---

## Walking Heart Rate (HR) Average

In [23]:
walkingHR = pd.read_csv("data/WalkingHeartRateAverage.csv")

In [24]:
len(walkingHR)

438

In [22]:
walkingHR.describe()

       sourceVersion  device       value
count     185.000000     0.0  185.000000
mean        4.092432     NaN   80.927027
std         0.072584     NaN   12.104564
min         4.000000     NaN   60.000000
25%         4.100000     NaN   73.000000
50%         4.100000     NaN   78.000000
75%         4.100000     NaN   86.000000
max         4.300000     NaN  135.000000

---

## Heart Rate Variability (HRV)

In [25]:
hrv = pd.read_csv("data/HeartRateVariabilitySDNN.csv")

In [26]:
len(hrv)

1163

In [27]:
hrv.columns

Index(['sourceName', 'sourceVersion', 'device', 'type', 'unit', 'creationDate',
       'startDate', 'endDate', 'value'],
      dtype='object')

In [28]:
hrv.describe()

             value
count  1163.000000
mean     44.842997
std      22.817420
min       6.729130
25%      28.732600
50%      40.713200
75%      56.277200
max     157.426000

In [29]:
hrv.tail()

,sourceName,sourceVersion,device,type,unit,creationDate,startDate,endDate,value
1158,Seshathiri’s Apple Watch,7.4,"<<HKDevice: 0x2838e7700>, name:Apple Watch, ma...",HeartRateVariabilitySDNN,ms,2021-05-08 20:42:53 +0530,2021-05-08 20:41:52 +0530,2021-05-08 20:42:53 +0530,12.7671
1159,Seshathiri’s Apple Watch,7.4.1,"<<HKDevice: 0x2838e76b0>, name:Apple Watch, ma...",HeartRateVariabilitySDNN,ms,2021-05-23 12:34:42 +0530,2021-05-23 12:33:36 +0530,2021-05-23 12:34:42 +0530,19.6715
1160,Seshathiri’s Apple Watch,7.4.1,"<<HKDevice: 0x2838e76b0>, name:Apple Watch, ma...",HeartRateVariabilitySDNN,ms,2021-05-23 14:16:20 +0530,2021-05-23 14:15:17 +0530,2021-05-23 14:16:20 +0530,69.9346
1161,Seshathiri’s Apple Watch,7.4.1,"<<HKDevice: 0x2838e76b0>, name:Apple Watch, ma...",HeartRateVariabilitySDNN,ms,2021-05-23 16:22:34 +0530,2021-05-23 16:21:29 +0530,2021-05-23 16:22:34 +0530,45.2034
1162,Seshathiri’s Apple Watch,7.4.1,"<<HKDevice: 0x2838e76b0>, name:Apple Watch, ma...",HeartRateVariabilitySDNN,ms,2021-05-23 20:24:05 +0530,2021-05-23 20:23:00 +0530,2021-05-23 20:24:05 +0530,27.0578

-------

## VO2 Max

In [30]:
vo2max = pd.read_csv("data/VO2Max.csv")

In [31]:
len(vo2max)

35

In [32]:
vo2max.describe()

       sourceVersion  device      value
count            0.0     0.0  35.000000
mean             NaN     NaN  31.901463
std              NaN     NaN   1.374384
min              NaN     NaN  31.179100
25%              NaN     NaN  31.295400
50%              NaN     NaN  31.295400
75%              NaN     NaN  31.295400
max              NaN     NaN  35.137500

----

NameError: name 'systolic' is not defined

------

## Sleep

In [34]:
sleep = pd.read_csv("data/SleepAnalysis.csv")

In [35]:
sleep.tail()

,sourceName,sourceVersion,device,type,unit,creationDate,startDate,endDate,value
77,Seshathiri’s Apple Watch,7.1,NaN,SleepAnalysis,NaN,2020-12-03 12:55:28 +0530,2020-12-03 08:12:09 +0530,2020-12-03 08:47:09 +0530,HKCategoryValueSleepAnalysisAsleep
78,Seshathiri’s Apple Watch,7.1,NaN,SleepAnalysis,NaN,2020-12-03 12:55:28 +0530,2020-12-03 08:50:39 +0530,2020-12-03 11:56:09 +0530,HKCategoryValueSleepAnalysisAsleep
79,Seshathiri’s Apple Watch,7.1,NaN,SleepAnalysis,NaN,2020-12-03 12:55:28 +0530,2020-12-03 11:58:39 +0530,2020-12-03 12:39:39 +0530,HKCategoryValueSleepAnalysisAsleep
80,Seshathiri’s iPhone,14.2,NaN,SleepAnalysis,NaN,2020-12-03 12:40:00 +0530,2020-12-03 06:40:12 +0530,2020-12-03 12:40:00 +0530,HKCategoryValueSleepAnalysisInBed
81,Seshathiri’s iPhone,14.2,NaN,SleepAnalysis,NaN,2020-12-04 11:30:00 +0530,2020-12-04 02:09:07 +0530,2020-12-04 11:30:00 +0530,HKCategoryValueSleepAnalysisInBed

In [36]:
sleep.describe()

       unit
count   0.0
mean    NaN
std     NaN
min     NaN
25%     NaN
50%     NaN
75%     NaN
max     NaN